<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ke.ds1.mapper.Ds1CommonMapper" >

	<select id="getFisrtRtu" resultType="map">
		select top 1 * from rtupara
	    order by id 
	</select>
 
</mapper>